.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-auto-rows: auto;
    
    
    
    
}
.card{
    transition: 0.3s;
    padding: auto;
    font-family: sans-serif;
    margin-left: 0.8em;
    margin-top: 3.5%;
    margin-right: 0.8em;
    margin-bottom: 3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 


  

}

.tituloGaleria{
    
    text-align: left;
    padding-left: 2%;
    width: 80%;
    background-color: #d43440;
    padding: 2%;
    color: rgb(255, 255, 255);
}

.texto{
    padding: 10px;
}
.titulo{
    text-align: left;
    margin-left: 2%;
    font-style: italic;
    margin:0;
}
.c1:hover{
    transform: scale(1.03,1.03);
    
}
.footer{
    position: relative;
}
.separacion{
    color: rgb(255, 255, 255);
    padding: 2%;
    padding-left: 4%;
    width: 80%;
    margin-top: 0;
    margin-bottom: 4%;

    background-color: #d43440;
}

.separacion2{
    color: rgb(255, 255, 255);
    padding: 2%;
    padding-left: 4%;
    width: 80%;
 
    margin-bottom: 4%;

    background-color: #d43440;
}
.breadCrumb{
    margin-top: 1%;
    
}
.migas{
    font-style: italic;
    margin: 1.8%;
}



