.colores {
    color: #F3505A;
    color: #d43440;
    color: #ECEBEA;
    color: #085979;
    color: #64babe;
    color: #a59f99;

}

body {
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    background: #ECEBEA;
}

header {
    background: #64babe;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.logo {
    width: 30px;
    height: 30px;
}

.menu {
    width: 25px;
    height: 25px;
}

.nombreMarca {
    font-size: xx-large;
    font-weight: 600;
    

}

