.estilosCSS {
    color: #F3505A;
    color: #d43440;
    color: #ECEBEA;
    color: #085979;
    color: #64babe;
    color: #a59f99;
   /* letras normales
   Font-family: Copperplate, Copperplate Gothic Light, fantasy.
   TITULOS:
   Font-family: Copperplate, Copperplate Gothic Light, fantasy;
   CSS MENU
   https://codepen.io/GeoffreyCrofte/pen/ajKVRq*/

}

body {
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    background: #ECEBEA;
}

header {
    background: #64babe;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #64babe;
    text-align: center;
    justify-content: space-around;

 }


.logo {
    width: 30px;
    height: 30px;
}

.menu {
    width: 25px;
    height: 25px;
}

.nombreMarca {
    font-size: xx-large;
    font-weight: 600;
    Font-family: Copperplate, Copperplate Gothic Light, fantasy;
    

}
/*MENU*/
            .menu-izq {
                display: initial;
            }

            .menu-arriba{
                display: none;
            }

            @media only screen and (max-width: 992px) {
                .menu-izq {
                display: none;
                background-color: lightblue;
                }
                .menu-arriba {
                    display: initial;
                }

                .anclas {
                    display: initial;
                }
            }

